.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: transparent;

  // background-image: url("../img/hero-bg.png");
  // background-position: top center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.header__link {
  position: relative;
}

.header__logo {
  max-width: none;
  margin-bottom: 20px;
}

.header__logotext {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  top: 23px;
  left: 90px;

  font-family: 'MullerRegular';
  font-size: 11px;
  line-height: 24px;
  color: #2a579c;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}
