.header {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: transparent;
}

.header__link {
  position: relative;
}

.header__logo {
  max-width: none;
  margin-bottom: 20px;
}

.header__logotext {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  top: 23px;
  left: 90px;

  font-family: 'MullerRegular';
  font-size: 11px;
  line-height: 24px;
  color: #2a579c;
}

.header__wrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: 586px) {
    flex-wrap: wrap;
  }

  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  padding-top: 20px;
}
