.btn {
  width: 270px;
  height: 73px;
  border-radius: 12px;
  padding: 0 20px;
  border: none;
  display: inline-block;
  vertical-align: middle;

  font-family: 'MullerMedium';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;
  transition: 0.5s;

  background: rgb(240,75,71);
  background: linear-gradient(180deg, rgba(240,75,71,1) 59%, rgba(235,28,36,1) 100%);

  box-shadow: 0px 5px 0px 0px #C3141B;

  &--link {
    padding-top: 15px;

    background: rgb(31,152,205);
    background: linear-gradient(180deg, rgba(31,152,205,1) 63%, rgba(20,127,176,1) 100%);

    box-shadow: 0px 5px 0px 0px #086491;

    transition: 0.5s;
  }

  &:hover {
    box-shadow: none;
    transition: 0.5s;
  }
}
