.btn {
  min-width: 270px;
  height: 73px;
  border-radius: 12px;
  padding: 0 20px;
  border: none;
  display: inline-block;
  vertical-align: middle;

  @media (max-width: 586px) {
    min-width: 150px;
  }

  font-family: 'MullerMedium';
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  cursor: pointer;
  transition: 0.5s;

  background: rgb(240,75,71);
  background: linear-gradient(180deg, rgba(240,75,71,1) 59%, rgba(235,28,36,1) 100%);

  box-shadow: 0px 5px 0px 0px #C3141B;

  &--link {
    min-width: 214px;
    padding-top: 25px;

    background: rgb(31,152,205);
    background: linear-gradient(180deg, rgba(31,152,205,1) 63%, rgba(20,127,176,1) 100%);

    box-shadow: 0px 5px 0px 0px #086491;

    transition: 0.5s;
  }

  &--send {
    width: 270px;
    margin: 0 auto;
    padding-top: 25px;
    margin-top: 50px;
  }

  &--tab {
    width: 100%;
    padding-top: 20px;

    font-family: 'MullerBold';
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    text-transform: uppercase;

    background: #2a579c;
    box-shadow: none;

    &:hover,
    &:active {
      background: #1e95ca;
    }

    @media (min-width: 1176px) {
      max-width: 325px;
    }
  }

  &:hover {
    box-shadow: none;
    transition: 0.5s;
  }
}
